.dropzone-div {
  margin: 50px;
  padding: 20px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.flex-container {
    display: flex;
}

.flex-item {
    width: 100px;
    height: 100px;
    margin: 10px;
}
